@model IDSM.ViewModel.GameViewModel
@using IDSM.Model;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>List of games requiring action (it's user's go)</h2>
<h2>List of games currently involved in (games have started)</h2>
<h2>Banter feed</h2>

<p>change so only creator can add players</p>
<p>notifications - when it's a player's go, another player can 'notify' them - sends email/text (could posso monetize this somehow... like it costs .001 to notify)... would add up.</p>
<p>need to handle players not wanting to play / giving up - game needs to smoothly continue</p>


