@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink("Games Home", "Index", "Games")</li>
    <li>@Html.ActionLink("Games Admin", "Index", "GamesAdmin")</li>
    <li>@Html.ActionLink("Player Home", "Index", "ViewPlayers")</li>
}
