@model IDSM.Model.ViewModels.TeamOverViewViewModel
@using IDSM.Helpers

            @{
        // don't know why but this doesn't work (loads data into whole page rather than the div)
        //using (Html.BeginForm("TeamOverView", "ViewPlayers", FormMethod.Post, new { id = "filterPlayers" }))
                using (Ajax.BeginForm("AddBanter", "ViewPlayers", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "banterlist",
            InsertionMode = InsertionMode.Replace
            
        }))
       {
           <p>banter: @Html.TextBox("Banter") 
               <input type="hidden" name="gameId" value="@Model.GameId" />
               <input type="hidden" name="userTeamId" value="@Model.UserTeamId" />
                    <input type="submit" value="post banter" /></p>
       }
               
            }

        @{ // @using (Html.BeginForm("AddBanter", "ViewPlayers", FormMethod.Post))
           // 

              <!--  -->
           }
    
  