@model IEnumerable<IDSM.Model.Banter>
@using IDSM.Helpers
   
            <h3>Banter Stream</h3>
            <table>
                <!--foreach (var item in Model.Banters)-->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BanterText)
                        </td>
                    </tr>
                }</table>        

