@model IDSM.Model.ViewModels.BantersDto
@using IDSM.Helpers

@foreach (var item in Model.Banter)
{
    <p>@Html.DisplayFor(modelItem => item.BanterText) @*@Html.ExternalLink("#", "Vote Banter", new {@class = "voteBanter"}, new {playerid = item.Id, userteamid = Model.UserTeamId, gameid = Model.GameId, userid = 1})*@</p>           
}

