@using IDSM.Helpers
@model IDSM.Model.ViewModels.TeamOverViewViewModel

<h3>Players in your team so far..</h3>
    
<div id="ChosenPlayerRows">
@(Model.PlayersChosen
    .Each(@<div class="playerRow">@Html.Partial("~/Views/ViewPlayers/ChosenPlayerRow.cshtml", item)</div>)
    .Else(
        @<div class="playerRow">
            No Players Chosen Yet
        </div>
    )
)
</div>
@*<input type="hidden" name="GameID" value="@Model.GameId" />
<input type="hidden" name="UserTeamID" value="@Model.UserTeamId" />*@