@using IDSM.Helpers
@model IDSM.Model.ViewModels.TeamOverViewViewModel


<h3>Players in your team so far..</h3>
    <div id="dialog-confirm" title="Add Player?">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Do you want to add this player?</p>
    </div>
@using (Html.BeginForm("Index", "ViewPlayers", FormMethod.Post))
            {
                //if (!Model.HasEnded)
                //{
                    <div id="ChosenPlayerRows">
                        @(Model.PlayersChosen
                              .Each(@<div class="playerRow">@Html.Partial("~/Views/ViewPlayers/ChosenPlayerRow.cshtml", item)</div>)
                              .Else(
                                  @<div class="playerRow">
                                       No Players Chosen Yet
                                   </div>
                              )
                              )
        
                    </div>
                //}
                <input type="hidden" name="GameID" value="@Model.GameId" />
                <input type="hidden" name="UserTeamID" value="@Model.UserTeamId" />
            }