@using IDSM.Helpers
@model IDSM.Model.ViewModels.ActiveTeamsViewModel
@{
    ViewBag.Title = "ViewPlayers";
}
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <div style="float:left; width:100%;">
        <p>
            Forloop here over all user's currently active games.
            @foreach (var team in Model.ActiveTeams)
            {
                <a href="#" class="buttonId currentplayer" data-userteamid="@team.UserTeamId" data-footballclub="" data-searchstring="">@team.GameName</a>
            }
        </p>
</div>
<div style="float:left; width:100%;">
    <p>Banter Ticker Tape</p>
</div>
<div id="teampartial">
</div>
<div id="teamtest">
</div>
<div id="leftcol">
    <div id="chosenplayers">
        @{ Html.RenderPartial("chosenplayers", Model.TeamOverView); }
    </div>
    <div id="searchform">
        @{ Html.RenderPartial("searchform", Model.TeamOverView); }
    </div>
    <div id="playerlist">
        @{ Html.RenderPartial("playerlist", Model.TeamOverView); }
    </div>
</div>
<div id="banter">
    @{ Html.RenderPartial("banter", Model.TeamOverView); }
</div>

<script type="text/javascript">
    /*var returnSelectTeam = function () {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/ViewPlayers/TeamOverView',
            data: $("#filterPlayers").serialize(),
            success: function (data) {
                $('#teampartial').empty();
                $('#teampartial').append(data);
            }
        });
    };*/

    var returnTeam = function (link) {
        debugger;
        var userTeamId = $(link).attr('data-userteamid');
        var footballClub = $(link).attr('data-footballclub');
        var searchString = $(link).attr('data-searchstring');
        $.ajax({
            type: 'POST',
            url: '/ViewPlayers/TeamOverView',
            data: {
                userTeamId: userTeamId,
                footballClub: footballClub,
                searchString: searchString
            },
            success: function (data) {
                $('#teampartial').empty();
                $('#teampartial').append(data);
            }
        });
    };


    $('.buttonId').click(function () {
        returnTeam(this);
    });
    /*$('#filterPlayers').submit(function () {
        returnSelectTeam();
    });*/
</script>
