@using IDSM.Helpers
@using IDSM.Model
@model IDSM.Model.ViewModels.TeamOverViewViewModel

<div id="otherteams">
    @foreach(UserTeam team in Model.OtherTeams)
    {
        <h5>@team.User.UserName</h5>
        foreach(UserTeam_Player player in team.UserTeam_Players)
        {
            @Html.Partial("~/Views/ViewPlayers/OtherTeamChosenPlayerRow.cshtml", player)
        }
    }
</div>

