@model IDSM.Model.ViewModels.TeamOverViewViewModel
@using IDSM.Helpers

@if ((Model.GameCurrentOrderPosition == Model.UserTeamOrderPosition) && !Model.HasEnded)
{
    <table>
    @foreach (var item in Model.PlayersSearchedFor)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>        
            <td>
                @if (!item.HasBeenChosen)
                {
                    @Html.ExternalLink("#", "Add Player", new {@class = "addItem"}, new {playerid = item.Id, userteamid = Model.UserTeamId, gameid = Model.GameId, userid = Model.UserId})
                    //Html.ActionLink("Add to team", "AddPlayer", new {playerId = item.Id, userteamid = Model.UserTeamId, gameid = Model.GameId, userId = Model.UserId}, new {@class = "addItem"})
                }
            </td>
        </tr>
    }
    </table>
}
