@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                A round robin football draft game.  Annoy your friends.
            </p>
        </div>
    </section>
}
<h3>Do the following, bitch:</h3>
<ol class="round">
    <li class="one">
        <h5>Create a game</h5>
        IDSM is a simple game: you create a game.  You invite your friends to play.  You take turns to pick players. You give each other shit for their poor choice of players.  You can upvote each other's banter.  You get points for great banter.  When everyone has had 11 turns, a winner is decided in two ways:
        <ol>
            <li>The football God calculates who has the best team</li>
            <li>Your banter scores are totted up and a 'most banterous' accolade is awarded.  What kind of fuckery is this, you ask?  Well... Fergie dragged United to a level that based soley on the quality of his players, they had no right to reach.  Your banter will do likewise.</li>
        </ol>
      @*  <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>*@
    </li>
</ol>
